body {
    font-family: sans-serif;
    padding: 15%;
    background-color: cyan;
    animation-name: example;
    animation-duration: 4s;
}

    @keyframes example {
    from {background-color: darkorchid;}
    to {background-color: cyan;}
}
.tombol {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 45%;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
p {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
a {
    text-decoration: none;
    color: blue; 
}

a:hover {
    color: darkblue;
}